<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Deseja realmente deletar o cadastro?</h1>
    <p class="lead"><b>Nome:</b> {{ clientes.nome }}</p>
    <p class="lead"><b>CPF:</b> {{ clientes.cpf }}</p>
    <p class="lead"><b>E-mail:</b> {{ clientes.email }}</p>
    <p class="lead"><b>E-mail2:</b> {{ clientes.email2 }}</p>
    <p class="lead"><b>Telefone:</b> {{ clientes.telefone }}</p>
    <p class="lead"><b>Telefone2:</b> {{ clientes.telefone2 }}</p>
    <p class="lead"><b>Endereço:</b> {{ clientes.endereco }}</p>
    <p class="lead">
      <b>Data de Nascimento:</b> {{ clientes.dataNascimento }}
    </p>
    <hr class="my-2" />
    <a
      routerLink="/cadastro"
      class="btn btn-primary mr-3"
      style="width: 100px; margin-right: 4px"
      >Não</a
    >
    <button
      type="button"
      (click)="deletarCadastro()"
      class="btn btn-danger"
      style="width: 100px"
    >
      Sim
    </button>
  </div>
</div>
